In [33]:
import numpy as np
import pandas as pd

In [45]:
base_path = "/Users/kdreyer/Desktop/exp05_binning_analysis/"
save_path = base_path + "replicate_bin_results/"
file_name = "CoCl2_300_"
reps = ["rep1", "rep2", "rep3"]
df_list = []
for rep in reps:
    data_path = base_path + file_name + rep + ".csv"
    df = pd.read_csv(data_path)
    df_list.append(df)
# display(df_list[0])

In [46]:
# df = pd.DataFrame(data={"red": np.random.rand(100)*10, "blue": np.random.rand(100)*15})
# df_list = [df]
for j, df in enumerate(df_list):
    df_sorted = df.sort_values("Pacific Blue-A", ignore_index=True) #ascending sort
    num_cells = len(df_sorted.index)
    bin_size = int(num_cells/10)
    df_bins_list = [df_sorted.iloc[i:i+bin_size] for i in range(0,num_cells-bin_size+1,bin_size)]
    average_red_list = []
    average_blue_list = []
    for k, df_bin in enumerate(df_bins_list):
        average_red = df_bin.loc[:, 'Comp-PE-Texas Red-A'].mean()
        average_blue = df_bin.loc[:, 'Pacific Blue-A'].mean()
        average_red_list.append(average_red)
        average_blue_list.append(average_blue)
        df_averages = pd.DataFrame(data= {"Comp-PE-Texas Red-A": average_red, "Pacific Blue-A": average_blue}, index=["Average"])
        df_bin_final = pd.concat([df_bin, df_averages])
        rep = j+1
        save_folder = file_name + "replicate_" + str(rep) + "/"
        df_bin_final.to_csv(save_path + save_folder + "replicate_" + str(rep) + "_bin_" + str(k+1) + ".csv")

        # display(df_bin_final)
    print("rep ", j+1)
    print("red", average_red_list)
    print("blue", average_blue_list)
    print("**************")

rep  1
red [124.1879823482976, 298.6197583203026, 534.1917310949558, 645.8105846910466, 851.1872363438839, 995.7170268461538, 1246.1829819684742, 1584.3670584892814, 1989.3960939974781, 3111.0420369621693]
blue [969.0816645649433, 1756.327793190416, 2414.0514754098363, 3003.907578814628, 3643.660895334174, 4408.001223203026, 5316.091752837327, 6571.423934426229, 8506.39573770492, 13330.342282471627]
**************
rep  2
red [170.3733876896122, 361.8084095803324, 543.1122475498615, 722.1848965989889, 964.5016423844875, 1228.5533821663435, 1446.5317169182827, 1683.586029544321, 2234.3877923130194, 3432.2752517825484]
blue [934.0572423822715, 1680.4103324099726, 2288.94635734072, 2867.254681440443, 3491.4540304709144, 4156.54743767313, 4975.38623268698, 6096.692022160664, 7842.085789473685, 12580.574002770083]
**************
rep  3
red [150.27370284257813, 432.234147546875, 561.880325475651, 819.5131723402343, 962.5928807615886, 1230.101335325521, 1546.7708346080733, 1865.0834948111979, 2463.1183795703123, 3597.794739049479]
blue [975.1899999999999, 1750.0753124999999, 2349.2945052083332, 2964.8222005208336, 3617.7955729166665, 4329.146419270834, 5188.5414453125, 6383.266119791667, 8364.016692708332, 13117.687734375]
**************

In [16]:
num_cells = 100
bin_size = 10
df = pd.DataFrame(data={"red": list(range(100, 201)), "blue": list(range(500, 601))})
display(df)
# lst = [df.iloc[i:i+bin_size] for i in range(0,num_cells-bin_size+1,bin_size)]
# for i in lst:
#     print(i)

     red  blue
0    100   500
1    101   501
2    102   502
3    103   503
4    104   504
..   ...   ...
96   196   596
97   197   597
98   198   598
99   199   599
100  200   600

[101 rows x 2 columns]

In [23]:
print(np.random.rand(100)*10)

[8.37291381 2.64774008 8.34919846 8.56840576 1.43123764 0.55791911
 5.99177604 6.75457012 3.29956688 2.73123158]