In [3]:
import numpy as np
import pandas as pd

In [7]:
base_path = "/Users/kdreyer/Desktop/exp05_binning_analysis/"
save_path = base_path + "replicate_bin_results/"
file_name = "CoCl2_150_"
reps = ["rep1", "rep2", "rep3"]
df_list = []
for rep in reps:
    data_path = base_path + file_name + rep + ".csv"
    df = pd.read_csv(data_path)
    df_list.append(df)
# display(df_list[0])

In [8]:
# df = pd.DataFrame(data={"red": np.random.rand(100)*10, "blue": np.random.rand(100)*15})
# df_list = [df]
for j, df in enumerate(df_list):
    df_sorted = df.sort_values("Pacific Blue-A", ignore_index=True) #ascending sort
    num_cells = len(df_sorted.index)
    bin_size = int(num_cells/10)
    df_bins_list = [df_sorted.iloc[i:i+bin_size] for i in range(0,num_cells-bin_size+1,bin_size)]
    average_red_list = []
    average_blue_list = []
    for k, df_bin in enumerate(df_bins_list):
        average_red = df_bin.loc[:, 'Comp-PE-Texas Red-A'].mean()
        average_blue = df_bin.loc[:, 'Pacific Blue-A'].mean()
        average_red_list.append(average_red)
        average_blue_list.append(average_blue)
        df_averages = pd.DataFrame(data= {"Comp-PE-Texas Red-A": average_red, "Pacific Blue-A": average_blue}, index=["Average"])
        df_bin_final = pd.concat([df_bin, df_averages])
        rep = j+1
        save_folder = file_name + "replicate_" + str(rep) + "/"
        df_bin_final.to_csv(save_path + save_folder + "replicate_" + str(rep) + "_bin_" + str(k+1) + ".csv")

        # display(df_bin_final)
    print("rep ", j+1)
    print("red", average_red_list)
    print("blue", average_blue_list)
    print("**************")

rep  1
red [102.10844307779222, 340.1316506525974, 666.2263112453246, 832.6123218489611, 1047.477698347143, 1230.5618512955846, 1624.8374551636364, 1865.3462142168833, 2661.711071012987, 3570.9773622974026]
blue [557.4285752051948, 1581.8819350649349, 2361.245090909091, 3044.176818181818, 3752.9812987012983, 4605.36712987013, 5677.077285714286, 7077.061155844156, 9261.88438961039, 15046.783636363634]
**************
rep  2
red [84.1533522472441, 253.21027997952757, 423.1044340590551, 584.9334352335958, 757.0998229889764, 958.3606819855642, 1235.9636376574804, 1517.8057405328086, 1885.8288408792648, 2849.8939704986874]
blue [610.8999822309711, 1601.952244094488, 2354.658661417323, 3033.2158005249344, 3715.645183727034, 4527.8421128608925, 5525.771417322835, 6808.634763779527, 8878.663805774277, 13969.43412073491]
**************
rep  3
red [58.11758468647215, 215.9809753196286, 403.9172441835544, 593.0691735822281, 766.1775205450266, 922.0523865384615, 1198.471197050398, 1367.5850270636606, 1814.8775619230769, 2573.3368901564986]
blue [472.2599834907162, 1426.990803713528, 2138.6436339522543, 2764.135981432361, 3416.7181830238724, 4153.318116710876, 5053.508090185676, 6190.479310344828, 8018.539827586207, 13311.700862068965]
**************

In [16]:
num_cells = 100
bin_size = 10
df = pd.DataFrame(data={"red": list(range(100, 201)), "blue": list(range(500, 601))})
display(df)
# lst = [df.iloc[i:i+bin_size] for i in range(0,num_cells-bin_size+1,bin_size)]
# for i in lst:
#     print(i)

     red  blue
0    100   500
1    101   501
2    102   502
3    103   503
4    104   504
..   ...   ...
96   196   596
97   197   597
98   198   598
99   199   599
100  200   600

[101 rows x 2 columns]

In [23]:
print(np.random.rand(100)*10)

[8.37291381 2.64774008 8.34919846 8.56840576 1.43123764 0.55791911
 5.99177604 6.75457012 3.29956688 2.73123158]